<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>farscout</title>
  <meta property="fc:frame" content="vNext" />
  <meta property="fc:frame:image" content="https://farscout.xyz{{route('generated_images.score', [fid])}}" />
  <meta property="fc:frame:image:aspect_ratio" content="1:1" />
  <meta property="fc:frame:button:1" content="Search" />
  <meta property="fc:frame:button:1:action" content="post" />
  <meta property="fc:frame:button:2" content="Leaderboard" />
  <meta property="fc:frame:button:2:action" content="post" />
  <meta property="fc:frame:button:3" content="Top Followers" />
  <meta property="fc:frame:button:3:action" content="post" />
  <meta property="fc:frame:button:4" content="FAQ" />
  <meta property="fc:frame:button:4:action" content="post_redirect" />
  <meta property="fc:frame:post_url" content="https://farscout.xyz/frames/score" />
  <meta property="og:title" content="farscout" />
  <meta property="og:description" content="revealing your farcaster score" />
  <meta property="og:image" content="https://farscout.xyz{{route('generated_images.score', [fid])}}" />

  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body class="dark h-full dark:bg-gray-800 dark:text-white">
  <div class="flex h-full justify-center items-center">
    <div class="text-center">
      <h1 class="text-xl font-bold">gm</h1>
      <p class="text-sm">Your score is {{score}}</p>
    </div>
  </div>
</body>

</html>