<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>farscout - search</title>
  <meta property="fc:frame" content="vNext" />
  <meta property="fc:frame:image" content="https://farscout.xyz/images/thumbnail.png" />
  <meta property="fc:frame:image:aspect_ratio" content="1:1" />
  <meta property="fc:frame:input:text" content="farcaster username" />
  <meta property="fc:frame:button:1" content="Search" />
  <meta property="fc:frame:button:1:action" content="post" />
  <meta property="fc:frame:post_url" content="https://farscout.xyz/frames/search" />
  <meta property="og:title" content="farscout" />
  <meta property="og:description" content="revealing your farcaster score" />
  <meta property="og:image" content="https://farscout.xyz/images/thumbnail.png" />

  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body class="dark h-full dark:bg-gray-800 dark:text-white">
  <div class="flex h-full justify-center items-center">
    <div class="text-center">
      <h1 class="text-xl font-bold">gm</h1>
      <div class="text-center mb-4">
        <input type="text" id="searchKeyword" placeholder="Enter keyword..." class="dark:text-black">
        <button onclick="search()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          Search
        </button>
      </div>
    </div>
  </div>
  <script>
    function search() {
      const keyword = document.getElementById('searchKeyword').value;
      window.location.href = `/search?keyword=${keyword}`;
    }
  </script>
</body>

</html>